/* Base styles */

h1, h2, h3, h4, h5, h6, p {
    font-weight: 300;
}
h1 {
    line-height: 48px;
    font-size: 48px;
}
.bgc-blue {
    background-color: #253772;
}

/* Utilities */

.align-center {
    margin-left: auto;
    margin-right: auto;
}
.img-white {
    -webkit-filter: grayscale(1) brightness(0) invert(1) saturate(1);
}

/* Images */

#hero-bloc {
    background-image: url('../img/bg-hero.jpg');
}
#qualities {
    background-image: url('../img/bg-qualities.jpg');
}
#member-companies {
    background-image: url('../img/bg-member-companies.jpg');
}

/* Navbar */
#hero-bloc .hero-nav {
    background-color: rgba(0, 0, 0, 0.3);
}
#hero-bloc .hero-nav .nav a {
    color: rgba(255, 255, 255, 0.8);
}
#hero-bloc .sticky .nav a {
    color: #061441;
}
.navbar li>a {
    text-transform: uppercase;
}
#hero-bloc .sticky {
    background-color: #fff;
}
#hero-bloc .sticky li>a {
    color: #061441;
}
.hero-nav li>a:hover,
.hero-nav .active>a {
    font-weight: bold;
}
.hero-nav .active {
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}
.hero-nav.sticky .active {
    border-color: #061441;
}
.hero-nav .navbar-brand img {
    max-height: 40px;
    -webkit-filter: grayscale(1) brightness(0) invert(1) saturate(1);
}
.hero-nav.sticky .navbar-brand img {
    -webkit-filter: none;
}

/* Mobile Navbar */

@media (max-width: 767px) {
    #hero-bloc .navbar .nav {
        background: transparent;
    }
    .nav li {
        border: none;
        background: transparent;
    }
    .sticky .navbar-toggle .icon-bar {
        background: #061441;
    }
}

/* About block */

#about h3 {
    line-height: 1.3;
}

/* Team block */

#team img {
    max-width: 250px;
}
#team .media {
    margin-top: 15px;
}
#team .media img {
    max-width: 80px;
}
@media (max-width: 767px) {
    #team #team-collapse {
        margin-left: 0px;
        margin-right: 0px;
    }
}

/* Contact block */

#contact .btn {
    background-color: rgba(0, 0, 0, 0.15);
}

/* Footer block */

#footer img {
    max-width: 250px;
}
#img-container div {
    margin-top: 20px;
}
@media (max-width: 767px) {
    #img-container div {
        margin-top: 0px;
    }
    #footer #col-tecnia {
        margin-bottom: 0px;
    }
    #col-info > h3,
    #col-info > h4 {
        text-align: center;
    }
}

/* Vertical divider */

.row.vertical-divider {
    overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: -100px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.row.vertical-divider div[class^="col-"]:first-child {
    border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
    border-right: none;
}
.l-bloc .row.vertical-divider > div[class^="col-"] {
    border-color: rgba(0, 0, 0, 0.1);
}
.d-bloc .row.vertical-divider > div[class^="col-"] {
    border-color: rgba(255, 255, 255, 0.2);
}

/* Horizontal divider override */
.divider-h span {
    border-width: 2px;
}
